{
    margin : 0px;
    padding : 0px;
    box-sizing:border-box;
}

nav{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(63, 56, 56);
    font-family: 'Montserrat', sans-serif;
}

.logo{
    color: rgb(255, 251, 202);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    /* background-color: white; */
    justify-content: space-around ;
    width: 30%;
}

.nav-links a{
    color: rgb(255, 251, 202);
    text-decoration: none;
    letter-spacing: 3px;
}